.left-field {
  background-color: rgba(255, 0, 0, 0.06);
  border-radius: var(--border-radius-base);
  border: 1px dotted rgba(255, 0, 0, 0.4);
  padding: 8px;
  margin: 8px;
}

.left-field__code {
  background-color: #1e1f22;
  padding: 8px;
  border-radius: var(--border-radius-base);
  color: darkcyan;
}
